%h2 Sign in

= form_for(:user, :url => user_session_path) do |f|
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.check_box :remember_me
    = f.label :remember_me

  %p
    = f.submit "Sign in", :class => "big_blue"
  %p
    = link_to "Forgot your password?", new_user_password_path
