- updates = subject.nil? ? Update : subject.updates

.aggregate_updates
  .aggregate.good_count
    %span.count= (good_count = updates.feeling_good.count)
    = (good_count == 1 ? "person<br/>is" : "people<br/>are").html_safe
    feeling good.
  .aggregate.ok_count
    %span.count= (ok_count = updates.feeling_ok.count)
    = (ok_count == 1 ? "person<br/>is" : "people<br/>are").html_safe
    hanging in there.
  .aggregate.bad_count
    %span.count= (bad_count = updates.feeling_bad.count)
    = (bad_count == 1 ? "person" : "people")
    %br
    could use some support.
