.tagline
  %h3
    The ups and downs of achieving your goals, shared openly, honestly, secretly.

.main
  = render "updates/stream"
  = render "popular_footer"

.sidebar
  = render "shared/update_counts", :subject => nil, :subject_name => "their goals"
  = render "shared/tag_cloud"
  = render "shared/goal_cloud"
  = render "shared/about"


