%tr.update{:data => {:created_at => update.created_at.rfc822, :status => update.status}, :id => "update_#{update.to_param}"}
  %td.status
    .status_color{:class => update.status_class}
      = update.status
    = update.status_text
  %td.update_content
    - if @goal.nil?
      .tags
        = update.goal.tags.map{ |t| link_to(t.title, tag_path(t)) }.join(", ").html_safe
      %h6
        %span.goal_label goal:
        = link_to(update.goal.title, goal_path(update.goal))

    .comment
      = simple_format(auto_link(update.comment))
    .timestamp
      = link_to "#{time_ago_in_words(update.created_at)} ago", update_path(update)

    .reply_actions{:data => {:add_update_url => add_reply_update_path(update), :update_comment => truncate(update.comment, :length => 200)}}
      %a.lightbox.reply_action{:href => "#reply_form", :data => {:reply_type => "reply", :prompt => "Send this person a reply to their progress update:"}}= "#{image_tag("reply.png")} reply".html_safe
      %a.lightbox.reply_action{:href => "#reply_form", :data => {:reply_type => "support", :prompt => "Send this person a message of support:"}}= "#{image_tag("support.png")} support".html_safe
      %a.lightbox.reply_action{:href => "#reply_form", :data => {:reply_type => "congratulation", :prompt => "Congratulate this person on their progress:"}}= "#{image_tag("congratulation.png")} congratulate".html_safe

- if (@update.present? || update.user == @current_user) && update.replies.present?
  %tr
    %td.replies{:colspan => 2}
      - if @update.present?
        = render @update.replies
      - else
        = render update.replies.first
        - if update.replies.length > 1
          - if update.replies.length > 2
            .reply_type= link_to "... #{pluralize(update.replies.length - 2, "other reply", "other replies")} ...", update_path(update)
          = render update.replies.last
        - if update.replies.length > 2
          .more
            = link_to "Read all #{update.replies.length} replies >", update_path(update)

- if (update_counter == 3) && (@goal.present? || @tag.present?)
  %tr
    %td.replies{:colspan => 2, :style => "border-left: 1px solid #9F9997;"}
      %div{:style => "text-align: center; margin-top: 10px;"}Sorry about the ads, but they're helping us keep the site running.
      .in_stream_ad{:style => 'padding: 10px; margin: 0 38px 10px 38px; border: 1px solid #9F9997; background-color: #E5E3E3;'}
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1657370723332984";
        /* SecretGoals - In Stream */
        google_ad_slot = "8786613553";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
