%h2 Forgot your password?

= form_for :user, :url => user_password_path do |f|
  = devise_error_messages!

  = f.label :email
  %br
  = f.text_field :email

  %p= f.submit "Send me reset password instructions"

