.main
  %h3 About Secret Goals

  %p
    Achieving your goals is tough.
  %p
    And there are a million solutions, products, seminars, etc. out there to help you.
  %p
    So, we thought we would introduce one more.
  %p
    Actually we just really liked the idea of providing a place where you
    could be completely open and honest about the progress your making; about how
    you're feeling today. A place where people can read about how other people feel
    as they struggle through the same goals, provide anonymous support to
    help them out, and congratulate them when they're doing well.
  %p
    There's something about reading about the ups and downs that other people are going
    through as they try to achieve the same goal that you are that is very powerful.
    We don't often get to see that almost everyone around us goes through the same highs
    and lows that we do, and we hope that a window in to that will be helpful.    
  %p
    In this day and age when everything is so public and so much attention has to be
    put in to writing the very best status update, we're hoping that people will be able
    to let loose a little more when everything is secret. Maybe it will alleviate some
    of the pressure we all feel in our every day lives.

  %br

  %h4 About Irrational Design
  %p
    Secret Goals was created by
    = "#{link_to("Irrational Design", "http://www.irrationaldesign.com")}.".html_safe
  %p
    We like to create unique products that help solve every day problems in a different way.
  %p
    You might want to try out our other products:
  %ul
    %li
      = link_to("The Matching Game >", "http://www.thematchinggame.com")
      %br
      = link_to("The age-old art of matchmaking meets online dating.", "http://www.thematchinggame.com")
      %br
      %br
    %li
      = link_to("Charity Birthday >", "http://www.charitybirthday.com")
      %br
      = link_to("Donate your birthday to charity.", "http://www.charitybirthday.com")



.sidebar
  %h4 Research Around Secret Goals
  %p Research suggests that keeping your goals secret may be the best way to achieve them.
  %p
    %a.lightbox{:href => "#ted_talk"} Watch this Ted Talk to learn more >
  %p
    %a.lightbox{:href => "#ted_talk"}= image_tag("http://www.ted.com/images/ted_logo.gif")

  #ted_talk{:style => "display: none;"}
    <!--copy and paste--><object width="446" height="326"><param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always"/><param name="wmode" value="transparent"></param><param name="bgColor" value="#ffffff"></param> <param name="flashvars" value="vu=http://video.ted.com/talks/dynamic/DerekSivers_2010G-medium.flv&su=http://images.ted.com/images/ted/tedindex/embed-posters/DerekSivers-2010G.embed_thumbnail.jpg&vw=432&vh=240&ap=0&ti=947&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=derek_sivers_keep_your_goals_to_yourself;year=2010;theme=the_creative_spark;theme=how_the_mind_works;theme=unconventional_explanations;theme=a_taste_of_tedglobal_2010;theme=new_on_ted_com;theme=how_we_learn;event=TEDGlobal+2010;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" /><embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" bgColor="#ffffff" width="446" height="326" allowFullScreen="true" allowScriptAccess="always" flashvars="vu=http://video.ted.com/talks/dynamic/DerekSivers_2010G-medium.flv&su=http://images.ted.com/images/ted/tedindex/embed-posters/DerekSivers-2010G.embed_thumbnail.jpg&vw=432&vh=240&ap=0&ti=947&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=derek_sivers_keep_your_goals_to_yourself;year=2010;theme=the_creative_spark;theme=how_the_mind_works;theme=unconventional_explanations;theme=a_taste_of_tedglobal_2010;theme=new_on_ted_com;theme=how_we_learn;event=TEDGlobal+2010;"></embed></object>

  %p
    We're not associated with TED at all, and we're not an authority on this research,
    but we do think that you may benefit by refraining from telling your friends and family
    about your goal until you've achieved it, receiving support from an anonymous community
    along the way. At the end of the day, though, we strongly believe you should do what
    ever makes sense to you in order to achieve your goals. No one strategy is going to work
    for everyone. It's really up to you.
