- @title = @goal.title.capitalize

- if @updates.present?
  .add
    %a#close.big_blue{:href=> "javascript:void()"} X
    = render current_user.nil? ? "register/form" : "me_goals/form"

= render "shared/tagline"

.main
  %h2.goal_title
    %span.lighten the goal:
    %span.italic= @goal.title
  - if @goal.tags.present?
    %h4
      Tags:
      = @goal.tags.collect { |tag| link_to(tag.title, tag_path(tag)) }.join(", ").html_safe

.sidebar
  - if @updates.present?
    %a#add.big_blue{:href=> "javascript:void()"} Take on this goal!

.main
  - if @updates.present?
    = render "updates/stream"
  - else
    = render "goals/register"
  = render "shared/popular_footer"  


.sidebar
  - if @updates.present?
    = render "shared/update_counts", :subject => @goal, :subject_name => "this goal"
  - else
    = render "shared/goal_cloud"

  = render "ads/wide_skyscraper"
  = render "shared/about"

:javascript
  $(function(){
    $("a#add").click(function(){
      $(".add").show();
    });
    $("a#close").click(function(){
      $(".add").hide();
    });
  })
