- @title = @goal.title.capitalize

.add
  = render "register/form"

.main
  %h2.goal_title
    The goal:
    %span
      = @goal.title

.sidebar
  %a#add{:href=> "javascript:void()"} Take on this goal!

.main
  = render "updates/stream"

.sidebar
  = render "shared/update_counts", :subject => @goal, :subject_name => "this goal"
  = render "ads/wide_skyscraper"

:javascript
  $(function(){
    $("a#add").click(function(){
      $(".add").show();
    });
  })
