- @title = @goal.title.capitalize

.add
  %a#close.big_blue{:href=> "javascript:void()"} X
  = render current_user.nil? ? "register/form" : "me_goals/form"

.main
  %h2.goal_title
    The goal:
    %span
      = @goal.title
  %h4
    Tags:
    = @goal.tags.collect { |tag| link_to(tag.title, tag_path(tag)) }.join(", ").html_safe


.sidebar
  %a#add.big_blue{:href=> "javascript:void()"} Take on this goal!

.main
  = render "updates/stream"

.sidebar
  = render "shared/update_counts", :subject => @goal, :subject_name => "this goal"
  = render "ads/wide_skyscraper"

:javascript
  $(function(){
    $("a#add").click(function(){
      $(".add").show();
    });
    $("a#close").click(function(){
      $(".add").hide();
    });
  })
