.dashboard_widget#update_status_widget
  .widget_title Status Update
  .widget_content
    = form_for :update, :url => add_update_me_goal_path(@user_goal) do |f|
      %a#show_lightbox_widget.lightbox{:href => "#update_status_widget"} Today I'm feeling (about my progress):
      %span#update_status= params[:status] || 5
      %input{:name => "update[status]", :type => 'range', :min => 0, :max => 10, :step => 1, :value => params[:status] || 5}
      .labels
        .bad
          0 (terrible)
        .good
          (fantastic) 10
      = f.label :comment, "Why?"
      = f.text_area :comment
      -#.update_type
        = f.radio_button :type, "update"
        = f.label :type, "Update"
        = f.radio_button :type, "milestone"
        = f.label :type, "Milestone"
        = f.radio_button :type, "completed"
        = f.label :type, "Goal Completed"

      = f.submit("Post Update")


:javascript
  $(function() {
    $('input.range').live('change', updateStatusFromSlider);

    if (window.location.toString().indexOf("status=") > -1) {
      $("#show_lightbox_widget").click();
    }

    function updateStatusFromSlider(e) {
      var jThis = $(this);
      $("#update_status").html(jThis.val())
    }
  });
