- @title = "My Goals: #{@goal.title}"

.main
  %h2.goal_title
    My Goal:
    = link_to("I want to #{@goal.title}", goal_path(@goal))
  - if @user_goal.notification_delay.nil?
    I'd rather not receive any reminders about this goal.
  - else
    Don't let me go more than
    = @user_goal.notification_delay_text
    without an update.
  %a.lightbox{:href => "#edit_notification_delay"}
    = "(<span style='text-decoration: underline;'>edit</edit>)".html_safe
  %br
  = link_to("View everyone's updates on this goal >", goal_path(@goal))

  #edit_notification_delay{:style => "display:none;"}
    = form_for @user_goal, :url => me_goal_path(@user_goal), :html => {:method => "PUT"} do |f|
      = f.label :notification_delay, "How often should we check in on your progress?"
      %br
      Don't let me go more than
      = f.select :notification_delay, UserGoal.notification_delay_options
      without an update.
      %br
      = f.submit "Update"

.sidebar
  - if current_user.user_goals.length > 1
    %h6 My Other Goals
    %ul
      - (current_user.user_goals - [@user_goal]).each do |user_goal|
        %li= link_to("#{user_goal.title} >", me_goal_path(user_goal))

.dashboard
  = render :partial => "update"
  = render :partial => "progress"
  = render :partial => "account"

.main
  = render "updates/stream"
  - if @since_update_counts.present?
    %b
      %a#update_counts_link.lightbox{:href => "#explore_updates"} Explore updates from other people
    #explore_updates
      %p.nice_job
        Nice job. Now that you've added your update you may want to check out updates from other people:
      - @since_update_counts.each do |info|
        - next if info[:count] == 0
        %p
          = link_to("#{info[:title]}: #{pluralize(info[:count], "updates")} since your last update >", info[:path])

- if @updates.present?
  .sidebar
    = render "ads/wide_skyscraper"


:javascript
  $(function() {
    if ($("#update_counts_link") && window.location.toString().indexOf("just_added=") > -1) {
      $("#update_counts_link").click();
    }
  });

