%style
  == .goal { margin-bottom: 12px; }
  == .no_tags { color: red; }
  == .tags { overflow: hidden; margin-bottom: 12px; }
  == .tag { display: block; float: left; padding: 6px 12px; margin: 0 12px 24px 0; background-color: #eee; }
  == form input.goal_tagging { width: 10em; }
  == .stats { float: right; width: 300px; }

:javascript
  $(function() {
    $(".tag").click(function() {
      var tag = $(this);
      var tagSlots = $(".goal_tagging");
      var tagSet = false;
      tagSlots.each(function() {
        if (!tagSet && this.value == '') {
          this.value = tag.html();
          tagSet = true;
        }
      })
    })
  })

= render :partial => "assign_tags" if @untagged_goal.present?

%h4 Create Tag
= form_for :tag, :url => create_tag_admin_goals_path do |f|
  = f.label :title
  = f.text_field :title
  = f.submit "Create Tag"
%br
%br
%br

.stats
  %h4 Goal Stats
  - @goal_stats.each do |info|
    %p= "#{info.keys.first}: #{info.values.first}"

  %h4 Update Stats
  - @update_stats.each do |info|
    %p= "#{info.keys.first}: #{info.values.first}"

%h4 Goals
= render @goals
