!!!
%html
  %head
    %title
      Secret Goals
      = ": #{@title}" if @title.present?
    %meta{:name => "description", :content => "An anonymous community built to help you achieve your goals."}
    = csrf_meta_tag
    = favicon_link_tag

    = stylesheet_link_tag "compiled/screen.css?#{Rails.application.cache_buster}", :media => 'screen, projection'
    = stylesheet_link_tag "compiled/print.css?#{Rails.application.cache_buster}", :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag "compiled/ie.css?#{Rails.application.cache_buster}", :media => 'screen, projection'
    = javascript_include_tag :defaults, "rangeinput", "jquery.svg", "jquery.drawinglibrary", "facebox"
    = stylesheet_link_tag("facebox")

  %body{:class => "#{controller.controller_name}_#{controller.action_name}"}
    #header
      .container
        .research
          Keeping your goals secret may help you achieve them.
          = link_to("Read the research >", "")
        %h1
          = link_to "secret goals", root_path
    #nav_bar
      .container
        .go_goals
          %h3
            I want to
          = form_tag :go_goals do
            = text_field_tag :title, "quit smoking"
            = submit_tag"Go >", :id => "go"
        .navigation
          - if current_user.present?
            = link_to("My Goals", me_goals_path)
            &nbsp;
            = link_to("Sign Out", destroy_user_session_path, :rel => "nofollow")
          - else
            = link_to("Sign In", new_user_session_path)
    #content
      .container
        #flash
          - if flash[:notice].present?
            .notice
              = flash[:notice]
          - if flash[:alert].present?
            .alert
              = flash[:alert]
        = yield
    #footer
      .container
        .right
          %a.lightbox{:href => "#feedback"} Support / Feedback
          &nbsp; &nbsp; &nbsp;
          -#
            %a.lightbox{:href => "#success_story"} Success Stories
            &nbsp; &nbsp; &nbsp;
            = link_to("About", about_index_path)
            &nbsp; &nbsp; &nbsp;
          = link_to("&copy Irrational Design 2011".html_safe, "http://www.irrationaldesign.com", :target => "_blank")
          /
            = current_user.id if current_user

        #irrational_design
          .irrational_design
            An
            = link_to("Irrational Design", "http://www.irrationaldesign.com", :target => "_blank")
            Production

          %a.site{:href => "http://www.charitybirthday.com", :target => "_blank"}
            = image_tag("charity_birthday_logo.png")
            %br
            CharityBirthday.com

          %a.site{:href => "http://www.thematchinggame.com"}
            = image_tag("matchinggame_logo.png")
            %br
            TheMatchingGame.com

    #feedback.email_us{:style => "display: none;"}
      = form_for :feedback, :url => feedback_path, :remote => true, :html => {:id => "feedback_form", :class => "email_us_form"}  do |f|
        %p We welcome any feedback, questions, problems, songs, poems, etc. you might have to offer regarding Secret Goals.
        %p Simply enter your message below and we'll email you back if a response is required.
        %p
          You can also reach us at
          = mail_to("support@secretgoals.com")
        - if current_user.nil?
          %b Your Email
          %br
          = f.text_field :email, :style => "width: 90%;"
        %b Message
        %br
        = f.text_area :message, :style => "width: 90%;"
        %p= f.submit "Send"
      .sending{:style => "display:none;"}
        Sending...
      .success{:style => "display:none;"}
        Thanks for your message!
      .failure{:style => "display:none;"}
        There was an error. Please try again in a little bit or email us at
        = mail_to "support@insightster.com"
        \.

    #success_story.email_us{:style => "display: none;"}
      = form_for :success_story, :url => success_story_path, :remote => true, :html => {:id => "success_story_form", :class => "email_us_form"}  do |f|
        %p
          If Secret Goals has helped you achieve your goals we'd love to hear about it.
          Of course you can also keep it secret :)
        %p And congratulations!
        - if current_user.nil?
          %b Your Email
          %br
          = f.text_field :email, :style => "width: 90%;"
        %b Message
        %br
        = f.text_area :message, :style => "width: 90%;"
        %p= f.submit "Send"
      .sending{:style => "display:none;"}
        Sending...
      .success{:style => "display:none;"}
        Thanks for your message!
      .failure{:style => "display:none;"}
        There was an error. Please try again in a little bit or email us at
        = mail_to "support@insightster.com"
        \.


    :javascript
      $(function() {
        $(':range').rangeinput();
      });
      $('.lightbox').facebox({closeImage: "/images/facebox/closelabel.png", opacity: 0.5});
      $(".email_us")
        .live("ajax:loading", function(xhr){ $("#facebox .email_us_form").hide(); $("#facebox .email_us .sending").show(); })
        .live("ajax:complete", function(xhr){ $("#facebox .email_us .sending").hide(); })
        .live("ajax:success",  function(data, status, xhr){$("#facebox .email_us .success").show(); })
        .live("ajax:failure",  function(xhr, status, error){$("#facebox .email_us .failure").show(); });
